@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	@apply w-full sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1280px]
}

.gradient-border {
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
	@apply p-[1.4px] hover:bg-gradient transition-all duration-200 ease-in-out bg-card_white
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.gradient-radial-background {
	height: 130%;
	width: 100%;
	position: absolute;
	top: 0;
	left: -100px;
	background: rgb(255, 255, 255);
	background: -moz-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(32, 85, 120, 0.013064600840336116) 0%, rgba(126, 205, 255, 1) 0%, rgba(114, 200, 255, 0.8393951330532212) 0%, rgba(255, 255, 255, 0) 62%);
	background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(32, 85, 120, 0.013064600840336116) 0%, rgba(126, 205, 255, 1) 0%, rgba(114, 200, 255, 0.8393951330532212) 0%, rgba(255, 255, 255, 0) 62%);
	background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(32, 85, 120, 0.013064600840336116) 0%, rgba(126, 205, 255, 1) 0%, rgba(114, 200, 255, 0.8393951330532212) 0%, rgba(255, 255, 255, 0) 62%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
}

.paragraph-light {
	@apply font-[350] text-[.875rem] leading-[1.5rem]
}